/* AI Textbox Space Fade Animation */
@keyframes space-fade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ai-textbox-animated {
  position: relative;
  width: 100%;
  border-radius: 8px;
  padding: 2px; /* Grubość ramki */
  background: linear-gradient(
    45deg,
    #157a6e,
    /* Różowy */ #754668,
    /* Ciemny różowy */ #dcc5b2,
    /* Fioletowy */ #c94277,
    /* Jasny fioletowy */ #dcc5b2,
    /* Różowy */ #754668,
    /* Magenta */ #157a6e /* Powrót do różowego */
  );
  background-size: 300% 300%;
  animation: space-fade 4s ease-in-out infinite;
}
