@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* custom imports css */
/* none */

@layer base {
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

@theme {
  /* Colors: Light blue (#E9F1FA), bright blue (#00ABE4), white (#FFFFFF) */
  /*  Light mode */
  --color-text: #121619; /* nigth */
  --color-bg: #fdf2e4; /* jasny kremowy */
  --color-bg-alt: #f0e4d3; /*  ciemniejszy kremowy */
  --color-bg-hover: #dcc5b2; /* Coffee */
  
  --color-primary: #776472; /* Peach accent */
  --color-success: #588157; /* brunswick  green #588157(maybe) */
  --color-success-hover: #0f5850; /* emerald-700 */ 

  /*  Dark mode */
  --color-text-dark: white;
  --color-text-alt-dark: #b0b0b0; /* Jasnoszary dla mniej wa偶nych tekst贸w */
  --color-bg-dark: rgb(33, 33, 33); /* Slate 800 */
  --color-bg-alt-dark: #101820; /* Rich Dark */
  --color-bg-hover-dark: #fee715; /* Vivid yellow */
  --color-bg-item-dark: rgb(43, 43, 43); /* Slate 700 */
  --color-bg-item-hover-dark: rgb(50, 50, 50); /* Slate 600 */
  --color-accent-primary-dark: #064bbb; /* Blue 500 */
  --color-accent-success-dark: #22c55e; /* Green 500 */
  --color-accent-secondary-dark: #8b5cf6; /* Violet 500 */
}

/* AI Textbox Space Fade Animation */
@keyframes space-fade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ai-textbox-animated {
  position: relative;
  border-radius: 8px;
  padding: 2px; /* Grubo ramki */
  background: linear-gradient(
    45deg,
    #157A6E,
    /* R贸偶owy */ #754668,
    /* Ciemny r贸偶owy */ #DCC5B2,
    /* Fioletowy */ #C94277,
    /* Jasny fioletowy */ #DCC5B2,
    /* R贸偶owy */ #754668,
    /* Magenta */ #157A6E /* Powr贸t do r贸偶owego */
  );
  background-size: 300% 300%;
  animation: space-fade 4s ease-in-out infinite;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
